<style>
  .footer {
    bottom: 0;
  }
  
</style>

<footer class="footer text-center text-lg-start">
  <div class="text-center p-3" style="background-color: #363636;">
   <p style="color: rgb(180, 177, 177);"> © 2020 FineBonito.com. All rights reserved.</p>
  </div>
</footer>
