<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	{{!--
	<link rel="shortcut icon" href="img/fav.png"> --}}
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Fine Bonito</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/public/css/linearicons.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/themify-icons.css">
	<link rel="stylesheet" href="/public/css/bootstrap.css">
	<link rel="stylesheet" href="/public/css/owl.carousel.css">
	<link rel="stylesheet" href="/public/css/nice-select.css">
	<link rel="stylesheet" href="/public/css/nouislider.min.css">
	<link rel="stylesheet" href="/public/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/public/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/public/css/magnific-popup.css">
	<link rel="stylesheet" href="/public/css/main.css">
	<style>
		#preloader {
			background: #ffffff url(/public/images/c1bcd8a8c945b53da6b29f10a2a553c0.gif) no-repeat center center;
			background-size: 40%;
			height: 100vh;
			width: 100%;
			position: fixed;
			z-index: 100;
		}

		.banner-content {
			position: relative;
		}

		.banner-overlay {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: #fff;
		}

		.banner-overlay h3 {
			font-size: 30px;
			margin-bottom: 10px;
		}

		.banner-overlay p {
			font-size: 18px;
		}

		@media screen and (max-width: 768px) {
			.banner-content h1 {
				font-size: 7vw;
				height: 3vw;
			}

			.welcome {
				display: none;
			}

			.banimage {
				margin-top: 10vh
			}

			.banner-content img {
				width: 100%;
				height: auto;
				object-fit:cover;
				min-height: 70vh;
			}
		}
	</style>
</head>

<body>

	<div id="preloader"></div>
	<!-- Start Header Area -->
	{{>userheader1}}
	<!-- End Header Area -->

	<!-- start banner Area -->

	<div class="carousel-inner" style="height: 100vh;">
		<div class="banner-content">
			<img src="/public/images/banners/{{banner}}" class="banimage d-block w-100" alt="">
			<div class="banner-overlay">
				<h1 style="color: rgb(255, 255, 255); font-size: 15vw;">FineBonito</h1>
				<p style="font-size: medium;" class="welcome">Welcome to FineBonito, where style meets elegance in the
					world of fashion.
					We are a premier fashion
					company dedicated to providing you with the finest and most exquisite clothing options</p>
			</div>
		</div>
	</div>

	<!-- End banner Area -->

	<!-- start features Area -->

	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 col-md-12">
					<div class="row">
						<div class="col-lg-4 col-md-8">
							<a href="/getshirtpage">
								<div class="single-deal">
									<div class="overlay"></div>
									<img class="img-fluid "
										src="/public/img/category/nimble-made-N0ke5zChVBU-unsplash.jpg" alt="">
									<a href="/public/img/category/nimble-made-N0ke5zChVBU-unsplash.jpg"
										class="img-pop-up" target="_blank">
										<div class="deal-details">
											<h6 class="deal-title">Shirts</h6>
										</div>
									</a>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-8">
							<a href="/getJeanspage">
								<div class="single-deal">
									<div class="overlay"></div>
									<img class="img-fluid "
										src="/public/img/category/hans-isaacson-QJfXnkKrtlo-unsplash.jpg" alt="">
									<a href="/public/img/category/hans-isaacson-QJfXnkKrtlo-unsplash.jpg"
										class="img-pop-up" target="_blank">
										<div class="deal-details">
											<h6 class="deal-title">Jeans</h6>
										</div>
									</a>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-8">
							<a href="/getShoespage">
								<div class="single-deal">
									<div class="overlay"></div>
									<img class="img-fluid "
										src="/public/img/category/ryan-plomp-PGTO_A0eLt4-unsplash.jpg" alt="">
									<a href="/public/img/category/ryan-plomp-PGTO_A0eLt4-unsplash.jpg"
										class="img-pop-up" target="_blank">
										<div class="deal-details">
											<h6 class="deal-title">Shoes</h6>
										</div>
									</a>
								</div>
							</a>
						</div>


					</div>

				</div>

			</div>
		</div>
	</section>



	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/public/img/features/f-icon1.png" alt="">
						</div>
						<h6>Qucik Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/public/img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/public/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/public/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->

	<!-- end product Area -->

	<!-- Start exclusive deal Area -->

	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="/public/img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="/public/img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="/public/img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="/public/img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="/public/img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->

	<!-- Start related-product Area -->

	<!-- End related-product Area -->

	<!-- start footer Area -->
	{{>userfooter}}
	<!-- End footer Area -->

	<script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="/public/js/vendor/bootstrap.min.js"></script>
	<script src="/public/js/jquery.ajaxchimp.min.js"></script>
	<script src="/public/js/jquery.nice-select.min.js"></script>
	<script src="/public/js/jquery.sticky.js"></script>
	<script src="/public/js/nouislider.min.js"></script>
	<script src="/public/js/countdown.js"></script>
	<script src="/public/js/jquery.magnific-popup.min.js"></script>
	<script src="/public/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="/public/https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/public/js/gmaps.min.js"></script>
	<script src="/public/js/main.js"></script>
	<script>
		var loader = document.getElementById("preloader")
		window.addEventListener('load', function () {
			loader.style.display = "none"
		})
	</script>
</body>

</html>